
.home-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4; 
  }
  
  /* Styling for Intro Section */
  .intro-section {
    margin-bottom: 40px;
  }
  
  .home-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .home-description {
    font-size: 1.1em;
    color: #666; 
    max-width: 600px;
    margin: 0 auto 20px;
  }
  
  .home-image {
    width: 100%;            
    max-width: 600px;       
    height: auto;           
    border-radius: 8px;
    margin: 10px auto;      
    display: block;
  }
  
  
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1.1em;
    color: #fff;
    background-color: #0066cc; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #005bb5; 
  }
  
  /* Styling for Amenities Section */
  .amenities-section {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .amenities-list {
    list-style: none;
    padding: 0;
    font-size: 1.1em;
    color: #333;
  }
  
  .amenities-list li {
    margin: 10px 0;
  }
  

  .testimonials-section {
    margin-top: 30px;
  }
  
  .testimonials-section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  
  .testimonial {
    font-style: italic;
    color: #555; 
    max-width: 600px;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  